<div style="margin-top:5vh; margin-left: 35vw;">
    <p-button label="Sport"   icon="pi pi-mars"     
        [ngClass]="{'active-button-performance': sportActive, 'custom-button-performance': !sportActive}"        
        (click)="activeComponent('sport')"></p-button>
    <p-button label="Art"     icon="pi pi-headphones" 
        [ngClass]="{'active-button-performance': artActive, 'custom-button-performance2': !artActive}"     
        (click)="activeComponent('art')" ></p-button>
    <p-button label="Project" icon="pi pi-hammer" 
        [ngClass]="{'active-button-performance': projectActive, 'custom-button-performance3': !projectActive}"      
        (click)="activeComponent('project')" ></p-button>
</div>


<app-art-e        *ngIf = "artActive"></app-art-e>
<app-sport-e      *ngIf = "sportActive"></app-sport-e>
<app-project-e    *ngIf = "projectActive"></app-project-e>

